<div ng-controller="LoginController" class="login-wrapper">
    <form ng-submit="login()" id="loginForm" name="loginForm" novalidate>
        <div class="form-field">
            <h3>Join and Chaturbate</h3>
        </div>
        <div class="form-field">
            <label for="">Username: </label>
            <input ng-model="username"
                   name="username"
                   type="text" 
                   autofocus 
                   autocomplete="off"
                   required ng-maxlength="30">
            <p class="has-error" ng-show="loginForm.username.$invalid && !loginForm.username.$pristine && !loginForm.username.$error.maxlength">Username is required.</p>
            <p class="has-error" ng-show="loginForm.username.$error.maxlength">Username is too long.</p>    
        </div>
        <div class="form-field">
            <label for="">Password: </label>
            <input ng-model="password"
                   name="password"
                   type="password" 
                   autocomplete="off"
                   required ng-minlength="5">
            <p class="has-error" ng-show="loginForm.password.$invalid && !loginForm.password.$pristine && !loginForm.password.$error.minlength">Password is required.</p>
            <p class="has-error" ng-show="loginForm.password.$error.minlength">Password must have at least 5 characters.</p> 
        </div>
        <div class="form-field">
            <button ng-disabled="loginForm.$invalid" type="submit">Login</button>
        </div>
        <div class="form-field center">
            <p>Dont have an account?</p>
            <a ng-href="#!signup">Sign Up</a>
            
          
        </div>

    </form>
</div>