* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: .95rem;
  }

body {
    
   /*  background-image: url("images/backgrounds/space.jpg"); */
    background-color: #5808ecb4;
   
}

h3 {
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
}

  ul.chat__header {
      position: fixed;
      overflow: hidden;
      top: 0%;
      width: 80%;
      list-style-type: none;
      margin: 0;
      padding: 0 20px 0 0;
      z-index: 1;
      background: hsla(28, 25%, 15%, 0.993)
     
  }

  .chat__header li {
      float: right;      
  }

  #user-picture {
      width: 50;
      height: 50px;
  }

  .chat__header li a {
      display: block;
      color:#e0dedb;
      text-align: center;
      padding: 15px 10px;
      line-height: 20px;
      text-decoration: none;
      font-weight: bold;
      cursor: pointer;
  }

  .chat__header li a:hover {
      background-color: #363533;
      color: tomato;
      transition: .6s ease;
     
  }

  input {
    padding: 5px;
  }

  button {
    border: none;
    background: #265f82;
    color: white;
    cursor: pointer;
    padding: 10px;
    transition: background .3s ease;
 
  }

  button:disabled {
    background: #5d7483;
    cursor: default;
  }

.chat {
  width: 100vw;
}

.chat__sidebar {
    
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    width: 20%;
    height: 100vh;
    background: linear-gradient(325deg, rgb(61, 61, 61) 0%, rgba(41, 41, 41, 0.938) 100%); /* w3c */
}

ul.sidebar__menu {
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sidebar__menu li {
    flex: 1 1 auto;
}

.sidebar__menu li a {
    display: block;
    text-decoration: none;
    border: none;
    padding: 15px 10px;
    text-align: center;
    line-height: 20px;
    color: #fd8058;
}

.sidebar__menu li a:hover {
    border-bottom: 1px solid whitesmoke;
    font-size: 1.2rem;
    transition: border .6s ease;
}

.sidebar__search {
   /*  display: flex; */
    text-align: center;
}

.sidebar__search form {
    /* flex: 1 1 auto; */
    width: 100%;
    padding: 10px 40px;
}

.sidebar__search form input {
    width: 100%;
    background-color: #424242bd;
    border: none;
    padding: 10px;
    color: #fd8058;
}

.chat__main {
    position: fixed;
    right: 0;
    float: left;    
    height: 100vh;
    width: 80%;
    
}
.chat__main::after, .chat__sidebar::after {
    clear: both;
}

ul.msg-list {
    height: 100vh;
    max-height: 100vh;
    list-style-type: none;
    padding: 75px 205px;
    overflow-y: auto;
    
}
.msg-list li {

    max-width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 15px;
    word-wrap: break-word;
}

.msg-list li.contact {
    
    background-color: rgb(229, 241, 62);   
}

.msg-list li.user { 
  
    background-color: rgb(149, 226, 240);
}

.msg-list * {
    font-size: small;
}

.chat__footer {
    position: fixed;
    display: flex;
    bottom: 0%;
    width: 80%;
    background: #5f5e5cd2;
    padding: 15px;
}

.chat__footer form {
    flex-grow: 1;
    display: flex;
}

.chat__footer form * {
    margin-right: 10px;
}

.chat__footer input {
    flex-grow: 1;
    border: none;
    padding: 10px;
    border-radius: 50px; 
    background-color: #fae7e1fd;
}


.chat__footer button {
   background-color: #fd8058;
   /* background-color: tomato; */
   border-radius: 5px;  
}

.login-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #e6eaee77;
}

.login-wrapper form {
    background: rgba(250, 250, 250, 0.9);
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 0px 20px;
    margin: 20px;
    width: 20%;
    
}

.form-field {
    margin: 20px 0;
  }


.form-field > * {
    width: 100%;
}

.form-field label {
    display: block;
    margin-bottom: 7px;
}

.form-field input, .form-field select {
    border: 1px solid #e1e1e1;
    padding: 10px;
    
}

.form-field.center {
    text-align: center;
}


.login-wrapper form input, .login-wrapper form label {
    margin-bottom: 10px;
}

a[type=button] {
    
    display: block;
    text-decoration: none;
    border: none;
    background: #265f82;
    color: white;
    cursor: pointer;
    padding: 10px;
    transition: background .3s ease;
}