<div class="chat__sidebar">

    <ul class="sidebar__menu">
        <li><a href=""><i class="fab fa-codepen fa-lg"></i></a></li>
        <li><a href=""><i class="fas fa-bomb fa-lg"></i></a></li>
        <li><a href=""><i class="fas fa-bars fa-lg"></i></a></li>
          
    </ul>

    <div class="sidebar__search">
        <form>
            <input ng-model="$ctrl.query" type="search" placeholder="Search contacts">
        </form>

    </div>
    <div>
        <ul class="sidebar__tabs">
            <li>
                <a ng-click="$ctrl.show = 'contacts' " href="">Contacts</a>
            </li>
            <li>
                <a ng-click="$ctrl.show = 'conversations' " href="">Conversations</a>
            </li>
        </ul>
        <ul ng-switch="$ctrl.show" class="contacts-list">

            <li ng-switch-when="contacts" ng-repeat="contact in $ctrl.contacts | filter: $ctrl.query">
                <div><img ng-src="{{contact.imageUrl}}" alt="" ></div>
                <div><p>{{contact.username}}</p></div>
                <div ng-if=" contact.status == 'online' " class="mfc-badge mfc-bg-green"></div>
                <div ng-if="contact.status == 'idle' " class="mfc-badge mfc-bg-yellow"></div> 
                <div ng ng-if="contact.status == 'offline' " class="mfc-badge mfc-bg-red"></div>
            </li>

            <div ng-switch-when="conversations">
                <br>
                <br>
                <h1>EMPTY LIST - TO DO</h1>
            </div>

        </ul>
    </div>
 
</div>