* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: .95rem;
  }

body {
    
    background-image: url("../images/backgrounds/wood_white.jpg");
    background-color: #5808ecb4;
   
}

h3 {
    font-weight: 600;
    text-align: center;
    font-size: 1.5rem;
}

  ul.chat__header {
      position: fixed;
      overflow: hidden;
      top: 0%;
      width: 80%;
      list-style-type: none;
      margin: 0;
      padding: 0 20px 0 0;
      z-index: 1;
      background: hsla(28, 25%, 15%, 0.993)
     
  }

  .chat__header li {
      float: right;      
  }

  #user-picture {
      width: 45;
      height: 45px;
      border-radius: 10px;
      padding: 0;
      margin: 5px 0 0 10px;
      border: 3px solid whitesmoke;
      
  }

  .chat__header li a {
      display: block;
      color:#e0dedb;
      text-align: center;
      padding: 15px 10px;
      line-height: 20px;
      text-decoration: none;
      font-weight: bold;
      cursor: pointer;
  }

  .chat__header li a:hover {
      background-color: #363533;
      color: tomato;
      transition: .6s ease;
     
  }

  input {
    padding: 5px;
  }

  button {
    border: none;
    background: tomato;
    color: white;
    cursor: pointer;
    padding: 10px;
    transition: background .3s ease;
 
  }

  button:disabled {
    background: rgb(240, 161, 147);
    cursor: default;
  }

.chat {
  width: 100vw;
}

.chat__sidebar {
    
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    width: 20%;
    height: 100vh;
    background: linear-gradient(325deg, rgb(61, 61, 61) 0%, rgba(41, 41, 41, 0.938) 100%); /* w3c */
}

ul.sidebar__menu, ul.sidebar__tabs {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sidebar__menu li, .sidebar__tabs li {
    flex: 1 1 auto;
}

.sidebar__menu li a, .sidebar__tabs li a {
    display: block;
    text-decoration: none;
    border: none;
    padding: 15px 10px;
    text-align: center;
    line-height: 20px;
    color: #fd8058;
}

.sidebar__tabs li a {
    background-color: #30261dfd;
    font-weight: 500;
}

.sidebar__menu li a:hover {
    border-bottom: 1px solid whitesmoke;
    font-size: 1.2rem;
    transition: border .6s ease;
}

.sidebar__search {
   /*  display: flex; */
    text-align: center;
    margin-bottom: 30px;
}

.sidebar__search form {
    /* flex: 1 1 auto; */
    width: 100%;
    padding: 10px 40px;
}

.sidebar__search form input {
    width: 100%;
    background-color: #424242bd;
    border: none;
    padding: 10px;
    color: #fd8058;
}

ul.contacts-list li {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 5px 15px 5px 10px;
    background-color: #424242bd;
    border-bottom: 1px solid black;
}

ul.contacts-list li:hover {
    margin: 2px 0 0 5px;
    background-color: #30261dfd;
}

ul.contacts-list li p {
    margin-left: 10px;
    color: cornsilk;
    line-height: 15px;
    padding: 5px 0 5px 0;
}

ul.contacts-list li img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


.chat__main {
    position: fixed;
    right: 0;
    float: left;    
    height: 100vh;
    width: 80%;
    
}
.chat__main::after, .chat__sidebar::after {
    clear: both;
}

ul.msg-list {
    height: 100vh;
    max-height: 100vh;
    list-style-type: none;
    padding: 75px 350px;
    overflow-y: auto;
    
}
.msg-list li {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
div.clear {
    clear: both;
}

/* .msg-list li .msg__picture, .msg-list li .msg__wrapper {
    float: left;
} */

.msg-list li.user .msg__picture, .msg-list li.user .msg__wrapper {
    float: right;
}

.msg-list li.contact .msg__picture, .msg-list li.contact .msg__wrapper {
    float: left;
}

.msg__wrapper {
    
    max-width: 250px;
    padding: 15px;
    border-radius: 15px;
    word-wrap: break-word;
}

li.user .msg__picture {
    margin-left: 20px;
}


li.contact .msg__picture {

    margin-right: 20px;
    
}

.msg__picture img {
    border-radius: 10px;
    width: 30px;
    height: 30px;
}

.msg-list li.contact .msg__wrapper {
    
    background-color: rgba(241, 229, 62, 0.945);   
}

.msg-list li.user .msg__wrapper { 
  
    background-color: rgb(124, 185, 243);
}

.msg-list * {
    font-size: small;
}

.msg__title *  {
    font-weight: bold;
    margin-bottom: 5px;
}

.msg__body p {
    margin-bottom: 5px;
}

.msg__body span {
    color: rgb(148, 146, 146);
    font-size: 11px;
    float: right;
}

.chat__footer {
    position: fixed;
    display: flex;
    bottom: 0%;
    width: 80%;
    background: #5f5e5cd2;
    padding: 10px;
}

.chat__footer form {
    flex-grow: 1;
    display: flex;
}

.chat__footer form * {
    margin-right: 10px;
}

.chat__footer input {
    flex-grow: 1;
    border: none;
    padding: 5px;
    border-radius: 50px; 
    background-color: #fae7e1fd;
}


.chat__footer button {
   background-color: #fd8058;
   border: 5px solid rgb(255, 138, 71);
   border-radius: 5px;
   padding:0;
}

.login-wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #e6eaee77;
}

.login-wrapper form {
    background: rgba(250, 250, 250, 0.9);
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 0px 20px;
    margin: 20px;
    width: 20%;
    
}

.form-field {
    margin: 20px 0;
  }


.form-field > * {
    width: 100%;
}

.form-field label {
    display: block;
    margin-bottom: 7px;
}

.form-field input, .form-field select {
    border: 1px solid #e1e1e1;
    white-space: pre-wrap;
    padding: 10px;
    
}

.form-field.center {
    text-align: center;
}


.login-wrapper form input, .login-wrapper form label {
    margin-bottom: 10px;
}

a[type=button] {
    
    display: block;
    text-decoration: none;
    border: none;
    background: #265f82;
    color: white;
    cursor: pointer;
    padding: 10px;
    transition: background .3s ease;
}